<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main_content">
             {{>header}}
        
        </div>
        {{!-- <h1>Message {{message}}</h1> --}}
        {{>footer}}
    </body>
</html>